@import '../variables';
.categories {
    ul {
        display: flex;
        place-content: center;
        row-gap: 20px;
        margin-bottom: 20px;
        @media (max-width: $s) {
            flex-wrap: wrap;
        }
        li {
            background-color: #f9f9f9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;
            // @include noselect();
            &:hover {
                background-color: darken(#f9f9f9, 2%);
            }
            &:active {
                background-color: darken(#f9f9f9, 5%);
            }
            &.active {
                background-color: $background;
                color: #fff;
            }
        }
    }
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}